/*

#3CC47C = light green
#1E392A = dark green
#E9C893 = beige
#828081 = grey


*/

body {
 background-color: #E9C893;
}


.header {
  background-color: #1E392A;
}

h1 {
  font-family: 'Bungee', cursive;
  display: block;
  text-align: center;
  padding: 20px;
  font-size: 48px;
  color: #E9C893;


}




.board {
  width: 650px;
  height: 650px;
  display: block;
  text-align: center;
  padding: 0px 30px;
  margin: 10px auto;
}

.row {
  display: inline-block;
  text-align: center;
  margin: 0 auto;
}

.square {
  width: 120px;
  height: 120px;
  background-color: #3CC47C;
  display: inline-block;
  margin: 3.2px;
  text-align: center;
  transition: 0.2s linear;
  border-radius: 2px;

  background-repeat: no-repeat;
  background-size: 120px 120px;
}


button {
  margin: auto;
  display: block;
  opacity: 100;
  transition: 4s;
}
